<!DOCTYPE html>
<html>
    <link rel='stylesheet' href='/style.css'>
    <body>
        {{>header}}

        <h1>About me: {{name}}</h1>
        
        <p> ALl is well</p>
    </body>
    {{>footer}}
</html>