<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>


    <body>
        {{>header}}
        
        <p>
            weather report by {{name}}
        </p>
        <p>
            the following are the details of weather report:
        </p>
        
        <img src="/ss.png">
        
        <form>
             
            <input placeholder="location">
            <button>search</button>
        </form>
        <p id='m1'></p>
         <p id='m2'></p>

        <script src="G:\java\js\jsss.js"></script>
    </body>
   {{>footer}}
</html>